td {
    border: #000000 1px solid;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
}

#cell-1 {
    border-top: none;
    border-left: none;
}

#cell-2 {
    border-top: none;
}

#cell-3 {
    border-top: none;
    border-right: none;
}

#cell-4 {
    border-left: none;
}

#cell-6 {
    border-right: none
}

#cell-7 {
    border-bottom: none;
    border-left: none;
}

#cell-8 {
    border-bottom: none;
}

#cell-9 {
    border-bottom: none;
    border-right: none;
}

/* Set border radius to 100% for a perfect circle. Not sure about size, but that
should make the O's that I need. */