<!DOCTYPE html>
<html>
<head>
    <link href="tictactoestyle.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-show="hasWon === true">You won!</h1>
        <h1 v-show="invalidMove === true">Pick another space!</h1>
        <table>
            <tr>
                <td id="cell-1" @click="handleClick(0)">{{ moves[0] }}</td>
                <td id="cell-2" @click="handleClick(1)">{{ moves[1] }}</td>
                <td id="cell-3" @click="handleClick(2)">{{ moves[2] }}</td>
            </tr>
            <tr>
                <td id="cell-4" @click="handleClick(3)">{{ moves[3] }}</td>
                <td id="cell-5" @click="handleClick(4)">{{ moves[4] }}</td>
                <td id="cell-6" @click="handleClick(5)">{{ moves[5] }}</td>
            </tr>
            <tr>
                <td id="cell-7" @click="handleClick(6)">{{ moves[6] }}</td>
                <td id="cell-8" @click="handleClick(7)">{{ moves[7] }}</td>
                <td id="cell-9" @click="handleClick(8)">{{ moves[8] }}</td>
            </tr>
        </table>
        <button @click="resetBoard">Reset</button>
    </div>
    <script>
        const EMPTY_BOARD = [null,null,null,null,null,null,null,null,null]
        const WINNING_COMBOS = [
            [0,1,2],
            [3,4,5],
            [6,7,8],
            [0,3,6],
            [1,4,7],
            [2,5,8],
            [0,4,8],
            [2,4,6]

        ]
        var app = new Vue({
            el: '#app',
            data: {
                moves: [null,null,null,null,null,null,null,null,null],
                nextPlayer: 'x',
                hasWon: false,
                invalidMove: false
            },
            methods: {
                resetBoard () {
                    this.moves = JSON.parse(JSON.stringify(EMPTY_BOARD))
                    this.nextPlayer = 'x'
                    this.hasWon = false
                },
                handleClick (cellIndex) {
                    if (this.hasWon) {
                        return
                    }

                    if (this.moves[cellIndex] !== null) {
                        //alert('Pick another space!!!')
                        this.invalidMove = true
                        return
                    }
                    
                    this.invalidMove = false
                    // https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats
                    this.$set(this.moves, cellIndex, this.nextPlayer)

                    // Check for win
                    this.hasWon = this.checkForWinner(this.moves, this.nextPlayer)
                    //if (this.hasWon) {
                    //    alert(`Horray! ${this.nextPlayer} won!`)
                    //    return
                    //}

                    this.nextPlayer = this.nextPlayer === 'x' ? 'o' : 'x'
                },
                checkForWinner (moves, currentPlayer) {
                    let hasWon = false

                    WINNING_COMBOS.forEach(function (combo) {
                        if (moves[combo[0]] === currentPlayer
                            && moves[combo[1]] === currentPlayer
                            && moves[combo[2]] === currentPlayer) {
                                hasWon = true
                            }
                    })

                    return hasWon
                }
            }
        })
    </script>
</body>
</html>

<!-- 1-9 starts at top left and scans like reading a book so that
    I can figure out what parts of the border to cut off for the grid -->
